{% extends "base.html" %}
{% block content %}


  <!-- Contact Section -->
  <div class="contact3-container contact3-padding-32" id="contact">
    <h3 class="contact3-border-bottom contact3-border-light-grey contact3-padding-16">Contact</h3>
    <p>Lets get in touch !</p>
    <form action="give link of php page"  target="_blank">
      <input class="contact3-input contact3-border" type="text" placeholder="Name" required name="Name">
      <input class="contact3-input contact3-section contact3-border" type="text" placeholder="Email" required name="Email">
      <input class="contact3-input contact3-section contact3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="contact3-input contact3-section contact3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="contact3-button contact3-black contact3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>